#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: cyan;
    margin-left: 60px;
    box-shadow: 0px 0px 40px 10px violet;

}

#container {
    margin-left: 20px;
    font-weight: bold;

}

/* input{
    height: 40px;
    width: 350px;
} */
#email {
    font-size: 18px;

}

#password {
    font-size: 18px;
}

#submit {
    font-size: 20px;
    margin-left: 80px;
    margin-top: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
}