#register-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 550px;
        padding: 20px;
        border: 1px solid red;
        border-radius: 20px;
        background-color: bisque;
        padding-left: 40px;
        box-shadow: 0px 0px 40px 10px violet;
}
#title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#re{
    border-bottom: 2px solid rgb(255, 0, 208) ;
    
}

.row-field{
    display: flex;
    gap: 5vw;
    margin-bottom: 2vh;
    align-items: center;
}
.gender label {
    font-weight: bold;
    margin-right: 10px;
}

.gender input{
    position: relative;
    margin-left: 1.5vw;
}
.gender input[type="radio"]{
    accent-color: purple;
}

.gender input[type="radio"]:hover {
    accent-color: grey;
}

#submit{
padding: 8px;
    margin: 60px 20px 40px 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    background-color: skyblue;
    border-color: rgb(44, 105, 106);
    font-weight: bolder;
    box-shadow: 0px 0px 10px 10px lightcyan;    
    
}