/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  border: 2px solid #000; 
  background-color: #fff; 
  padding: 0px 10px;
}

/* #logo img {
  height: 80;
  width: 80;

} */
#logo {
  display: flex;
  align-items: center;
}

#menus {
  display: flex;
  align-items: center;

}
#menus p{
  color: blue;
  padding: 0px 10px;
}
/* Descendant selector
#menus p {
  margin: 0;
  color: #333;
  cursor: pointer;
#menus>p {
  Child selector
}
}

#menus p:hover {
  text-decoration: underline;
} */
